// Custom styles.
// Custom styles.
code {
    //color: #ff7600;
    color: #EA4335;
    //color: #FBBC05;
   // background: #fbf7f8;
    background: rgba(158, 158, 158, 0.18);
    margin: 2px;
    //border: 1px solid #ff7600;
}

// .highlight pre code {
//      border: 0px solid #d6d6d6;
// }


// 大代码块的自定义样式
// .highlight, pre {
//     margin: 5px 0;
//     padding: 5px;
//     border-radius: 3px;
// }
// .highlight, code, pre {
//     border: 1px solid #d6d6d6;
// }
